.contenedor{
    background-color:yellow;
    display: flex;
    margin: 300px auto;
    border: 2px solid black;
    /*flex-wrap: wrap;*/
    width: 800px;
    height: 462px;
    color: white;
    text-align: center;
    line-height: 100px;
    align-content:center;
    flex-direction: column;
    cursor: pointer;


}
.iten1{
   background-color: red;
    width:150px;
    height:150px;
    font-size:15px;
    border: 2px solid black;
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
    

}
.iten2{
    background-color:blue;
     width:150px;
     height:150px;
     font-size:15px;
     border: 2px solid black;
     color:black; 
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 auto;
    }

.iten3{
        background-color: green;
         width:150px;
         height:150px;
         font-size:15px;
         border: 2px solid black;
         color:black;  
         display: flex;
         align-items: center;
        justify-content: center;
        margin: 0 auto;
        }  